			#container {
				position:relative;
			}
			#kanvas {
				position:relative;
			}

			/* cc information banner & pop-up */
			#cc {
				position: absolute;
				width:100%;
				z-index: 100;
				/*background-color:#cc0000;  */
			}

			#para {
				position: absolute;
				padding:0px;
				font-family:Arial;
				font-weight: bold;
				font-size: 11px;
				color:blue;
				border-style: solid;
				border-color: #000000;
				border-width:1px;
				visibility: hidden;
				z-index: 99;
				background-color: white;
			}

			/* DOiTPoMS buttons */
			.dbutton {
				cursor: pointer;
				height: 25px;
				margin: 5px;
				background-position: bottom;
				display: inline-block;  /* allows on sameline */
				z-index:300
			}

			.dbutton:hover {
				background-position: center;
			}
			
			#backbutton, #back2, #back3, #back4, #back5, #back6, #back7 {
				width: 79px;
				background-image: url('https://www.doitpoms.ac.uk/images/back.png');
			}

			#nextbutton, #next2, #next3, #next4, #next5, #next6, #next7 {
				width: 75px;
				background-image: url('https://www.doitpoms.ac.uk/images/next.png');
			}

			#restart, #restart2, #restart3,  #restart5, #restart6, #restart7 {
				width: 99px;
				background-image: url('https://www.doitpoms.ac.uk/images/restart.png');
			}
			#reset {
				width: 84px;
				background-image: url('https://www.doitpoms.ac.uk/images/reset.png');
			}
			#start {
				width: 76px;
				background-image: url('https://www.doitpoms.ac.uk/images/start.png');
			}
			#pause {
				width: 83px;
				background-image: url('https://www.doitpoms.ac.uk/images/pause.png');
			}
			#continue {
				width: 118px;
				background-image: url('https://www.doitpoms.ac.uk/images/continue.png');
			}

			#anim1, #anim2, #anim3, #anim4, #anim5, #anim6, #anim7, #anim8, #anim9 {
				position:absolute;
				top:0px;
				font-family: Arial, Helvetica, sans-serif;
			}

			/* page id */
			#p1 {
				display:block;
			}
			#p2, #p3, #p4, #p5, #p6, #p7, #p8, #p9   {
				display:none;
			}

			/* others  */
			p {
				font-family: sans-serif;
			}

			.panel {
				position: absolute;
				top: 365px;
				width: 100%
			}

			#caption{
				margin: auto auto;
				text-align: center;
				vertical-align: middle;
				width: 500px;
				height: 45px;
			}

			.navbar{
				width: 100%;
				text-align: center;
				z-index: 300;
			}

			.navbar .dbutton {
				margin-inline: 10px
			}