#container {
		  		position:relative;
			}
			
			#kanvas { 
		   		position:relative;
			}
			
			#cc {
				position: absolute; 
				width:100%; 
				/*background-color:#cc0000;  */
			}
			
			#para {
				position: absolute;  
				padding:0px;
				font-family:Arial;
				font-weight: bold;
				font-size: 11px;
				color:blue; 
				background-color: #fff;
				border-style: solid;
				border-color: #000000;
				border-width:1px;
				visibility: hidden;
				z-index: 200;
			}
			
		/* DOiTPoMS buttons */
			.dbutton {
				height: 25px;
				margin: 0px;
				background-position: bottom;
				display: inline-block;  /* allows on sameline */
			}

			.dbutton:hover {
				background-position: center; 
			}

			#back, #back2, #back3, #back4, #back5, #back6, #back7 {
				width: 79px;
				background-image: url('https://www.doitpoms.ac.uk/images/back.png');
			}

			#next, #next2, #next3, #next4, #next5, #next6, #next7 {
				width: 75px;
				background-image: url('https://www.doitpoms.ac.uk/images/next.png');
			}
			
			#restart, #restart2, #restart3,  #restart5, #restart6, #restart7 {
				width: 99px;
				background-image: url('https://www.doitpoms.ac.uk/images/restart.png');
			}
			
			#reset {
				width: 84px;
				background-image: url('https://www.doitpoms.ac.uk/images/reset.png');
			}
			
			#start {
				width: 76px;
				background-image: url('https://www.doitpoms.ac.uk/images/start.png');
			}
			
			#pause {
				width: 83px;
				background-image: url('https://www.doitpoms.ac.uk/images/pause.png');
			}
			
			#continue {
				width: 118px;
				background-image: url('https://www.doitpoms.ac.uk/images/continue.png');
			}
		
		/* page divs */
			.leftText {
				position:absolute;
				left:0px;
				top:0px;
				padding: 7px;
				width:280px;
				text-align:justify;
				font-size: 15px;
				font-family: Arial, Helvetica, sans-serif;
				background-color:#a6ba45; 
			}
		
			#anim1, #anim2, #anim3, #anim4, #anim5, #anim6, #anim7, #anim8, #anim9 {
				position:absolute;
				left:200px;
				top:0px;
				width:300px;
				font-family: Arial, Helvetica, sans-serif;
				background-color:#dededf;  
				/*visibility: hidden;*/
			}
		
			.nav {
		  		position:absolute;
				text-align:center;
		  		left:130px;
		  		top:445px;
		  		width:300px;
		 	}
		
			/* page id */
			#p1 {
		  		display:block;				
			}
		
			#p2, #p3, #p4, #p5, #p6, #p7, #p8, #p9   {
		  		display:none;				
			}
		
			#hopper_btn, #screw_btn, #nozzle_btn {
				background-color:#f9c;
				opacity:0.01;
				border: 1px #603 solid;
			}
		
			#hopper_btn:hover, #screw_btn:hover, #nozzle_btn:hover {
				opacity:0.1;
			}
