.laser {
    fill:red; 
    stroke:black
}

.laser:hover, .laser:focus-visible {
    stroke:red;
    stroke-width: 3px;
}

.laser:active {
    stroke-width: 1px;
}

.line {
    stroke:black;
}

#reaction_pointer text {
    font-size: 0.7em;
}

#reaction_pointer .pointer {
    visibility: hidden;
}

#reaction_pointer .line, #reaction_pointer .label {
    visibility: hidden;
}

#reaction_pointer .pointer:hover .laser, #reaction_pointer .pointer:focus-visible .laser {
    stroke: none;
}