svg text{
    font-family: sans-serif;
    stroke: none;
    text-anchor: middle;
}

#sysA_input text, #sysA_output text {
    text-anchor: start;
}

.stepbox{
    fill-opacity: 0.1;
    stroke-opacity: 0.6;
}

.pointer{
    fill:none;
    stroke-width: 2.5;
}

#sysA-bound, #sysB-bound, #sysC-bound{
    fill: none;
    stroke-dasharray:10,10;
    stroke-width: 4;
}

.sysA, .sysC, .sysB{
    opacity: 0
}
